.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.form>*:last-child {
    margin-top: 8px;
}

.inputField,
.formField {
    box-sizing: border-box;
    width: 100%;

}

.formField {
    position: relative;
    display: flex;
    flex-direction: column;


}

.inputField {
    outline: none;
    border: none;
    border-radius: 12px;
    padding: 14px 20px;
    background: var(--inputs);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: var(--gray);
}



.inputField[name="comment"] {
    height: 88px;
    padding: 12px 20px;
    resize: none;
}




.errorMessage {
    position: absolute;
    bottom: -16px;
    color: red;
    font-size: 12px;
}

.formBtn {
    border: none;
    border-radius: 12px;
    padding: 12px 58px;
    width: 156px;
    background: var(--button);
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    color: var(--white);
}

.formBtn:hover {
    background-color: var(--button-hover);
}