.wrapper {
    height: 700px;
    width: 100%;
    color: var(--white-text-color);
    background-image: url("../../images/Picture1.jpg");
    background-size: cover;
    background-position: center 60%;
    background-repeat: no-repeat;
    overflow: hidden;
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .wrapper {
        background-image: url("../../images/Picture2.jpg");

    }
}